
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #666;
}

#wrapper {
    margin: 20px auto;
    width: 960px;
}

/*h1 {
    text-align: center;
    margin: 0 0 20px;
}*/

.grid-block-container {
    float: left;
    width: 990px;
    margin: 20px 0 0 -30px;
}
.grid-block {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 30px 30px;
}
.grid-block h4 {
    font-size: .9em;
    color: #333;
    background: #f5f5f5;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
    background: url(../../images/hovercaption/trans-black-50.png);
    width: 150px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.caption h3 .caption h4 .caption p {
    color: #fff;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.caption h3 .caption h4{
    /*margin: 20px 20px 10px;*/
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
    /*text-align: center;*/
    
    
}

.caption p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 20px 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.caption a.learn-more {
    padding: 5px 10px;
    background: #08c;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.caption a.learn-more:hover {
    background: #fff;
    color: #08c;
    font-family: Arial, Helvetica, sans-serif;
    
    
}